<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome to our <b>online_shop</b>!</h3>
  </div>
  <div class="panel-body">
    <% if current_user %>
        <p>
          <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-info btn-xs' do %>
              <i class="glyphicon glyphicon-log-out"></i> Sign out
          <% end %>
        </p>
        <p>
          <%= link_to destroy_user_session_path, class: 'btn btn-info btn-xs' do %>
              <i class="glyphicon glyphicon-shopping-cart"></i> Cart
          <% end %>
        </p>
    <% else %>
        <p>
          <%= link_to new_user_registration_path, class: 'btn btn-info btn-xs' do %>
              <i class="glyphicon glyphicon-registration-mark"></i> Sign up
          <% end %>
        </p>
        <p>
          <%= link_to new_user_session_path, class:'btn btn-primary btn-xs' do %>
              <i class="glyphicon glyphicon-log-in"></i> Log in
          <% end %>
        </p>
        <p>
          <%= link_to '/auth/facebook', class:'btn btn-primary btn-xs' do %>
              <i class="glyphicon glyphicon-log-in"></i> Log in as user Facebook
          <% end %>
        </p>
        <p>
          <%= link_to '/auth/vkontakte', class:'btn btn-primary btn-xs' do %>
              <i class="glyphicon glyphicon-log-in"></i> Log in as user VKontakte
          <% end %>
        </p>
    <% end %>
  </div>
</div>
